<template>
  <div class="max-w-5xl w-full mt-5 mx-auto text-white mb-32 px-4">
    <div class="w-full justify-center flex my-4 space-x-2">
      <div
        class="bg-black rounded border-2 border-transparent w-24 h-16 text-center text-4xl flex items-center justify-center"
        :class="timerClass"
      >
        {{ time }}
      </div>
      <Button
        variant="danger"
        size="large"
        v-if="isPlaying"
        @click="emit('stop')"
        >Pause</Button
      >
      <Button variant="success" size="large" v-else @click="emit('start')"
        >Play</Button
      >
    </div>
    <Question
      v-for="(q, key) in questions"
      :key="key"
      :question="q"
      noEdit
      @show="(x) => emit('select', x)"
      @order="order"
    />
  </div>
</template>

<script>
import Socket from "socket.io-client";
import Question from "@/components/Question.vue";
import Button from "@/components/Button.vue";

export default {
  name: "Control",
  components: { Question, Button },
  data() {
    return {
      socket: false,
      state: {},
    };
  },
  computed: {
    questions() {
      return this.state.questions ? this.state.questions : [];
    },
    isPlaying() {
      return this.state.CG ? this.state.CG.running : false;
    },
    time() {
      return this.state.CG ? this.state.CG.timer : "";
    },
    timerClass() {
      return this.isPlaying ? "border-red-400 text-red-100" : "";
    },
  },
  methods: {
    order(id, direction) {
      this.socket.emit(`question.order`, {
        id,
        direction,
      });
    },
    emit(key, value) {
      this.socket.emit(`cg.${key}`, value);
    },
  },
  mounted() {
    this.socket = Socket(window.location.origin);

    this.socket.on("state", (s) => this.$set(this, "state", s));
    this.socket.on("CG", (cg) => this.$set(this.state, "CG", cg));
    this.socket.on("questions.updated", (q) =>
      this.$set(this.state, "questions", q)
    );
  },
};
</script>

<style></style>
