<template>
  <component
    :is="tag"
    :as="as"
    :type="type"
    v-on="$listeners"
    :disabled="disabled"
    :method="method"
    :class="[
      `base-button rounded inline-flex align-middle align-items-center justify-center font-medium focus:outline-none items-center`,
      btnClass,
      colorVariants,
    ]"
    :variant="variant"
    :size="size"
    :href="to"
    @click="$emit(`onClick`, $event)"
  >
    <i
      v-if="this.icon && !loading"
      class="fa leading-normal"
      :class="[icontype, iconPadding]"
    />
    <Spinner v-if="loading" :color="spinnerColor" />
    <span :class="textClass" class="whitespace-no-wrap" v-else><slot /></span>
  </component>
</template>

<script>
import Spinner from "./Spinner.vue";

export default {
  name: "Button",
  components: { Spinner },
  props: {
    loading: {
      type: Boolean,
      default: false,
    },
    disabled: {
      type: Boolean,
      default: false,
    },
    tag: {
      type: String,
      default: "button",
    },
    variant: {
      type: String,
      default: "primary",
    },
    size: {
      type: String,
      default: "small",
    },
    type: {
      type: String,
    },
    to: {
      type: String,
    },
    icon: {
      type: String,
    },
    onlyIcon: {
      type: String,
      default: "",
    },
    method: String,
  },
  computed: {
    as() {
      return this.tag === "inertia-link" && this.method !== "GET"
        ? "button"
        : "";
    },
    btnClass() {
      return {
        "base-spinner ": this.loading,
        "cursor-not-allowed": this.disabled,
        "py-3 px-5 text-2xl": this.size === "large",
        "py-3 px-5": this.size === "normal",
        "py-2 px-4": this.size === "small",
        "py-2 px-4 md:px-3 md:py-1 md:text-sm": this.size === "smaller",
        "py-1 px-2 text-sm": this.size === "tiny" && this.variant != "link",
        "py-1 text-xs": this.size === "tiny" && this.variant == "link",
      };
    },
    textClass() {
      if (!this.onlyIcon) return "flex items-center";

      return `hidden ${this.onlyIcon}:flex`;
    },
    spinnerColor() {
      switch (this.variant) {
        case "white":
          return "gray-600";
        case "danger":
          return "red-500";
        default:
          return "white";
      }
    },
    colorVariants() {
      if (this.disabled) {
        return "roundend bg-gray-300 border border-gray-400 text-gray-500";
      }
      switch (this.variant) {
        case "primary":
          return "border-2 bg-blue-500 hover:bg-blue-400 border border-blue-600 text-white";
        case "primary-light":
          return "border-2 bg-blue-100 hover:bg-blue-200 border border-blue-600 text-blue-500";
        case "danger":
          return "border-2 bg-red-100 hover:bg-red-200 border border-red-600 text-red-500";
        case "danger-link":
          return "border-2 text-red-500 hover:underline border-none";
        case "warning":
          return "border-2 bg-orange-200 hover:bg-orange-100 border border-orange-400 text-white";
        case "success":
          return "border-2 bg-green-400 hover:bg-green-500 border border-green-600 text-white";
        case "success-light":
          return "border-2 bg-green-100 hover:bg-green-200 border border-green-600 text-green-700";
        case "white":
          return "border-2 bg-white hover:bg-gray-100 border border-gray-400 text-gray-600";
        case "icon-white":
          return "roundend text-gray-400 border border-gray-400 hover:bg-gray-100 hover:text-gray-900";
        case "list":
          return "rounded-none justify-start hover:bg-gray-100 text-gray-600 w-full";
        case "list-danger":
          return "rounded-none justify-start hover:bg-red-100 text-red-500 w-full";
        case "link":
          return "rounded-none text-blue-500 hover:underline";
        case "input-suffix":
          return "text-gray-600 icon-white rounded-none ";
        case "danger-icon":
          return "text-red-800 icon-white rounded-none ";
      }
      return "";
    },
    icontype() {
      return this.icon && `fa-${this.icon}`;
    },
    iconPadding() {
      if (!this.$slots.default) {
        return;
      }
      if (!this.onlyIcon) {
        return "mr-2";
      }
      return `${this.onlyIcon}:mr-2`;
    },
  },
};
</script>
<style scoped>
.icon-white:hover {
  background: rgba(0, 0, 0, 0.03);
}
</style>
