<template>
  <div
    class="w-full text-gray-200 py-4 rounded border-b border-gray-800 flex"
    :class="[editClass, activeClass, canEditClass]"
    @click="edit"
  >
    <div class="w-16 flex flex-wrap space-y-2 pl-2" v-if="noEdit">
      <Button
        variant="icon-white"
        size="tiny"
        class="w-full"
        @click="$emit('order', question.id, 'up')"
        >Up</Button
      >
      <Button
        variant="icon-white"
        size="tiny"
        class="w-full"
        @click="$emit('order', question.id, 'down')"
        >Down</Button
      >
    </div>
    <div class="px-4 w-full" v-if="!form">
      <p class="py-2 text-xl">{{ question.text }}</p>
      <p class="py-2 text-xl">{{ question.answer }}</p>
    </div>
    <div class="w-full px-4" v-else>
      <QuestionForm :form="form" />
      <div class="w-full pt-4 flex">
        <Button @click.stop.prevent="destroy" class="mr-auto" variant="danger"
          >Delete</Button
        >
        <Button @click.stop.prevent="cancel" variant="white">Cancel</Button>
        <Button
          @click.stop.prevent="save"
          class="ml-2"
          :loading="form.processing"
          >Save</Button
        >
      </div>
    </div>
    <div class="justify-center items-center flex pr-4">
      <Button
        v-if="noEdit"
        @click="$emit('show', question.id)"
        size="small"
        variant="primary-light"
        >Show</Button
      >
    </div>
  </div>
</template>

<script>
import QuestionForm from "../admin/QuestionForm.vue";
import Button from "@/components/Button.vue";

export default {
  name: "Question",
  components: { QuestionForm, Button },
  props: {
    question: Object,
    noEdit: Boolean,
  },
  data() {
    return {
      form: null,
    };
  },
  computed: {
    isEditing() {
      return this.form;
    },
    activeClass() {
      return this.question.active ? "border border-red-400 text-red-200" : "";
    },
    editClass() {
      return this.isEditing ? "bg-gray-800 border my-2" : "";
    },
    canEditClass() {
      return this.noEdit ? "" : "hover:bg-gray-800 cursor-pointer";
    },
  },
  methods: {
    cancel() {
      this.form = null;
    },
    edit() {
      if (this.noEdit) return;
      this.$set(this, "form", this.$form(this.question));
    },
    save() {
      // VALIDATION
      this.$emit("update", this.form);
    },
    destroy() {
      this.$emit("remove", this.form);
    },
  },
  watch: {
    question() {
      this.cancel();
    },
  },
};
</script>

<style></style>
