<template>
  <span
    class="rounded leading-none items-center text-xs font-bold whitespace-nowrap"
    :class="[colorClass, paddingClass, borderClass]"
    v-html="label"
  />
</template>

<script>
export default {
  props: {
    status: Number,
    padding: String,
    colors: Object,
    names: Object,
    textBrightness: [Number, String],
    bgBrightness: [Number, String],
    border: [Number, String],
  },
  computed: {
    colorClass() {
      return `bg-${this.colors[this.status]}-${this.bgBrightness || 200} text-${
        this.colors[this.status]
      }-${this.textBrightness || 700} border-${this.colors[this.status]}-${
        this.textBrightness || 400
      }`;
    },
    paddingClass() {
      return `p-${this.padding || 1}`;
    },
    label() {
      return this.names[this.status].replace(" ", "&nbsp;");
    },
    borderClass() {
      return "border";

      // return `border-${this.border || 'none'}`;
    },
  },
};
</script>
