@font-face {
  font-family: "Exo";
  src: url("fonts/Exo-Black.eot");
  src: url("fonts/Exo-Black.eot?#iefix") format("embedded-opentype"),
    url("fonts/Exo-Black.woff2") format("woff2"),
    url("fonts/Exo-Black.woff") format("woff"),
    url("fonts/Exo-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Exo";
  src: url("fonts/Exo-DemiBold.eot");
  src: url("fonts/Exo-DemiBold.eot?#iefix") format("embedded-opentype"),
    url("fonts/Exo-DemiBold.woff2") format("woff2"),
    url("fonts/Exo-DemiBold.woff") format("woff"),
    url("fonts/Exo-DemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Exo";
  src: url("fonts/Exo-Bold-Italic.eot");
  src: url("fonts/Exo-Bold-Italic.eot?#iefix") format("embedded-opentype"),
    url("fonts/Exo-Bold-Italic.woff2") format("woff2"),
    url("fonts/Exo-Bold-Italic.woff") format("woff"),
    url("fonts/Exo-Bold-Italic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Exo";
  src: url("fonts/Exo-DemiBold-Italic.eot");
  src: url("fonts/Exo-DemiBold-Italic.eot?#iefix") format("embedded-opentype"),
    url("fonts/Exo-DemiBold-Italic.woff2") format("woff2"),
    url("fonts/Exo-DemiBold-Italic.woff") format("woff"),
    url("fonts/Exo-DemiBold-Italic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Exo";
  src: url("fonts/Exo-Black-Italic.eot");
  src: url("fonts/Exo-Black-Italic.eot?#iefix") format("embedded-opentype"),
    url("fonts/Exo-Black-Italic.woff2") format("woff2"),
    url("fonts/Exo-Black-Italic.woff") format("woff"),
    url("fonts/Exo-Black-Italic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

body,
html {
  font-family: "exo";
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0);
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}
