<template>
  <div class="max-w-5xl w-full mt-5 mx-auto text-white mb-32 px-4">
    <img class="h-32 mx-auto mb-6" src="./../assets/logo.png" />
    <Question
      v-for="(q, key) in questions"
      :key="key"
      :question="q"
      @remove="remove"
      @update="update"
    />
    <Create
      class="mt-8"
      title="Add a Question"
      :form="form"
      v-if="form"
      @submit="addQuestion"
    />
  </div>
</template>

<script>
import Socket from "socket.io-client";
import Create from "./Create.vue";
import Question from "@/components/Question.vue";

export default {
  name: "AdminPage",
  components: { Create, Question },
  data() {
    return {
      socket: false,
      state: {},
      form: null,
    };
  },
  computed: {
    questions() {
      if (this.state.questions) return this.state.questions;
      return [];
    },
  },
  methods: {
    emit(key, value) {
      this.socket.emit(key, value);
    },
    update(form) {
      this.emit("question.update", {
        id: form.id,
        data: form.data(),
      });
    },
    remove(form) {
      this.emit("question.destroy", form.id);
    },
    setForm() {
      this.form = this.$form({
        text: "",
        answer: "",
      });
    },
    addQuestion(form) {
      // validation
      this.emit("question.add", form.data());
      this.setForm();
    },
  },
  mounted() {
    this.socket = Socket(window.location.origin);

    this.socket.on("state", (s) => this.$set(this, "state", s));
    this.socket.on("questions.updated", (q) => {
      this.$set(this.state, "questions", q);
    });

    this.setForm();
  },
};
</script>

<style></style>
