<template>
  <div class="w-full border border-gray-600 bg-gray-800 p-4 rounded rounded-xl">
    <h2 class="font-bold text-2xl">{{ title }}</h2>
    <QuestionForm :form="form" />
    <div class="w-full flex pt-4">
      <Button
        class="ml-auto"
        @click="$emit('submit', form)"
        size="normal"
        :loading="form.processing"
        >Save</Button
      >
    </div>
  </div>
</template>

<script>
import QuestionForm from "./QuestionForm.vue";
import Button from "@/components/Button.vue";

export default {
  components: { QuestionForm, Button },
  props: {
    title: String,
    form: Object,
  },
};
</script>

<style></style>
