<template>
  <div class="">
    <div class="mt-2">
      <label>Question</label>
      <textarea
        v-model="form.text"
        class="w-full bg-gray-600 rounded p-2"
        maxlength="120"
        rows="2"
      />
      <span
        class="text-gray-300 text-sm float-right"
        v-text="120 - form.text.length"
      />
    </div>
    <div class="mt-2">
      <label>Answer</label>
      <textarea
        v-model="form.answer"
        class="w-full bg-gray-600 rounded p-2"
        maxlength="350"
        rows="3"
      />
      <span
        class="text-gray-300 text-sm float-right"
        v-text="350 - form.answer.length"
      />
    </div>
  </div>
</template>

<script>
export default {
  props: {
    form: Object,
  },
};
</script>

<style></style>
