<template>
  <div id="hd">
    <img id="logo" :class="logoClass" src="./../assets/logo.png" />
    <div id="text" :class="textClass">
      <b id="title">Ask questions at <i>feedback.biblex.io</i></b>
      <p id="question">{{ questionText }}</p>
      <p id="answer">{{ questionAnswer }}</p>
    </div>
  </div>
</template>

<script>
import Socket from "socket.io-client";

export default {
  name: "CG",
  data() {
    return {
      socket: false,
      questions: [],
      textClass: "",
      CG: {},
    };
  },
  intervall: null,
  computed: {
    question() {
      if (!this.questions || !this.CG) return {};

      return this.questions.find((x) => x.id == this.CG.current);
    },
    isPlaying() {
      return this.CG ? this.CG.running : false;
    },
    logoClass() {
      return this.isPlaying ? "show" : "";
    },
    questionText() {
      return this.question ? this.question.text : "";
    },
    questionAnswer() {
      return this.question ? this.question.answer : "";
    },
  },
  methods: {
    tick() {
      this.socket.emit("cg.tick");
    },
  },
  destroyed() {
    clearInterval(this.intervall);
  },
  mounted() {
    this.socket = Socket(window.location.origin);

    this.socket.on("state", (s) => {
      this.$set(this, "questions", s.questions);
      this.$set(this, "CG", s.CG);
    });
    this.socket.on("CG", (cg) => this.$set(this, "CG", cg));
    this.socket.on("questions.updated", (q) => this.$set(this, "questions", q));

    this.intervall = setInterval(() => {
      this.tick();
    }, 1000);
  },
  watch: {
    CG: {
      deep: true,
      handler(x) {
        if (!x.running) {
          this.textClass = "";
          return;
        }

        if (x.timer > 0) {
          this.textClass = "show";
        } else {
          this.textClass = "swap";
        }
      },
    },
  },
};
</script>

<style>
#hd {
  position: relative;
  width: 1920px;
  height: 1080px;
  font-family: "exo";
}

#logo {
  width: 125px;
  position: absolute;
  left: -200px;
  transition: left ease-in-out 300ms;
  top: 832px;
}

#logo.show {
  transition-delay: 100ms;
  left: 62px;
}

#text {
  position: absolute;
  background: rgba(255, 255, 255, 0.7);
  left: 249px;
  width: 1609px;
  height: 226px;
  padding: 20px 40px;
  bottom: -250px;
  transition: bottom ease-in-out 300ms;
  /* box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.2); */
}

#text.show {
  bottom: 49px;
}

#text.swap {
  transition-delay: 500ms;
}

#title {
  font-family: "exo";
  font-weight: 900;
  font-size: 30px;
  display: block;
  height: 45px;
}

#title i {
  font-style: italic;
  margin-left: 2px;
}

#text p {
  font-family: "exo";
  font-weight: 600;
  font-size: 28px;
  line-height: 30px;
  padding: 0;
  margin: 0;
  max-height: 75px;
  min-height: 50px;
}
</style>
